<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <script src="/static/vendor/jquery/jquery.min.js"></script>
</head>
<body>
<!--
<div>

    <div class="table-responsive table-bordered col-md-8 col-md-offset-3">
                        <table class="table" id="out_table">
                          <thead>
                            <tr>
                              <th>星期天</th>
                              <th>星期一</th>
                              <th>星期二</th>
                              <th>星期三</th>
                              <th>星期四</th>
                              <th>星期五</th>
                              <th>星期六</th>

                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>1</td>
                              <td>1</td>
                              <td>1</td>
                              <td>1</td>
                              <td>1</td>
                              <td>1</td>

                            </tr>

                          </tbody>
                        </table>

                      </div>
</div>

-->
{#<div class="col-md-12" style="display: none">#}
{#    <div class='table-responsive  col-md-8 offset-2'>#}
{#    <table class="table" id="out_table">#}
{#                          <thead>#}
{#                            <tr>#}
{#                              <th>星期天</th>#}
{#                              <th>星期一</th>#}
{#                              <th>星期二</th>#}
{#                              <th>星期三</th>#}
{#                              <th>星期四</th>#}
{#                              <th>星期五</th>#}
{#                              <th>星期六</th>#}
{##}
{#                            </tr>#}
{#                          </thead>#}
{#                          <tbody>#}
{#                            <tr>#}
{#                              <th scope="row">1</th>#}
{#                              <td>1</td>#}
{#                              <td>1</td>#}
{#                              <td>1</td>#}
{#                              <td>1</td>#}
{#                              <td>1</td>#}
{#                              <td>1</td>#}
{##}
{#                            </tr>#}
{##}
{#                          </tbody>#}
{#                        </table>#}
{#</div>#}
{#</div>#}


     <script>
        /*
            日历
            1、判断年份是闰年还是平年，从而判断2月份是29天还是28天
            2、定义数组1~12月，每月多少天
            3、定位当前月份第一天是星期几
            4、多余部分置空
        */

        var oDate = new Date();
        var year =  oDate.getFullYear();  // 年
        var month =  oDate.getMonth();  // 月( 0-11 )
        var date =  oDate.getDate();  // 日
        month = month+3


        /*var weekArr = ['星期天','星期一','星期二','星期三','星期四','星期五','星期六'];*/

        // 获取当月第1天是星期几
        var firstDay = (new Date(year, month, 1)).getDay();

        // 判断是否是闰年(29) 平年(28)
        function isLeapYear() {
            if(((year % 4)==0) && ((year % 100)!=0) || ((year % 400)==0)) {
                return 1;
            } else {
                return 0;
            }
        }

        // 获取每个月的天数
        var monthDaysArr = [31, 28+isLeapYear(), 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

        // 计算行数
        var rows =  Math.ceil((monthDaysArr[month] + firstDay) / 7);
        document.write ("<div class='table-responsive  col-md-6 offset-3'>");
        // 打印表头
        document.write ("<table class='table table-bordered'><tr><td align='center'>日</td><td align='center'>一</td><td align='center'>二</td><td align='center'>三</td><td align='center'>四</td><td align='center'>五</td><td align='center'>六</td></tr>");
        var tr = [12,23,26,29,30];
        for(var i=0; i<rows; i++) { //表格的行
            document.write("<tr>");

            // 表格每行的单元格填充
            for(var j=0; j<7; j++) {

                // 单元格自然序列号
                tdIndex = i*7+j;

                // 计算日期
                fillDate = tdIndex-firstDay+1;

                // 过滤无效日期（小于等于零的、大于月总天数的）
                if(fillDate<=0 || fillDate>monthDaysArr[month]) {
                   fillDate="&nbsp;";
                } else {
                    fillDate = tdIndex-firstDay+1;
                }

                // 打印日期，并把今天底色设为红色

                if(fillDate == tr[0]) {
                    tr.shift()
                    console.log(tr)

                    document.write ("<td align='center' bgcolor='red' onclick='btnAction()'>" + fillDate + "</td>");
                } else {
                    document.write ("<td align='center' onclick='btnAction()'>" + fillDate + "</td>");
                }
            }

            document.write("</tr>"); //表格的行结束
        }

        document.write("</table>"); // 表格结束
        document.write ("</div>");
        function btnAction(){
            console.log(1111111111111)
        }
    </script>
</body>
<script>

</script>
</html>